/* Definition des couleur */
:root{
    --color-menu:#00AEEF;
    --color-menu-focus:#72c6f0;
    --bg-color-menu: #ffffff;
}
/* Définition de police */

@font-face {
    font-family: "GT Eesti";
    src: url("font/GT-Eesti-Display-Medium-Trial.otf") format("otf");
    src: url("font/GT-Eesti-Display-UltraBold-Italic-Trial.otf") format("otf");
    src: url("font/GT-Eesti-Display-Bold-Trial.otf") format("otf");
}

/* Style général */
body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: "GT Eesti", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color:var(--bg-color-menu);
    color: var(--color-menu);
    border-bottom: var(--color-menu) 2px solid;
    position: sticky;
    top:0;
    z-index: 1000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50);
    /*box-shadow: 0 4px rgba(0,0,0,0.1);*/
}

.header_container{
    padding: 0px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container h2{
    padding:0px 0px 0px 5px;
    
    font-weight: bold;
}

.header_container h2 a{
    text-decoration: none;
    color: black;
}

.header_container h2 i{
    color:var(--color-menu);
    margin-right: 5px;
}
.header_container nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header_container nav ul li{
    padding-right: 10px;
    list-style: none;
    margin: 5px;
}

.header_container nav ul li a{
    text-decoration: none;
    font-weight: bold;
    padding:6px;
    color: var(--color-menu);
}

.header_container nav ul li a:hover{
    padding:6px;
    color: #063e52;
}
.header_container nav ul li a:focus{
    color: #063e52;
    font-weight: bold;
    border-bottom: (--color-menu-focus);
}
ul li i{
    background-color: var(--bg-color-menu);
    border: var(--color-menu) 2px solid;
    border-radius: 50%;
    padding: 3px;
}

/* Welcome text */

.welcome_section{
    text-align: center;
    background-image:
    linear-gradient(rgba(0, 174, 239, 0.7), rgba(255,255,255,0.5)),
    url(../image/wel1.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* couvre toute la largeur */
    background-position: center;
    border-radius: 10px;
}

.welcome_container{
    padding: 20px;
}
.welcome_container h2{
    font-size: 3rem;
    color: var(--bg-color-menu);
    font-weight: bold;
}

.welcome_container .welcome_p{
    color: rgb(0, 0, 0);

    
}

/* Annonce styles */

.welcome_p{
    color: var(--bg-color-menu);
}
.welcome_p .all_annonce{
    margin: 5px;
}

.all_annonce h3{
    color: black;text-align: left;
    font-weight: bold;
    font-size: 2rem;
    margin: 10px;
    
}

.annonce{
    border-bottom: rgb(160, 161, 161) 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px 10px 5px;
    border-radius: 10px;
    padding: 5px;
}

.annonce:hover{
    background-color:  rgb(243, 246, 248);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}
.name_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px 0px 10px;
}

.logo_container p{
    background-color: var(--color-menu);
    border-radius: 50%;
    padding: 5px;
    color: var(--bg-color-menu);
    font-weight: bold;
    margin-right: 5px;
}


.date_container .date{
    margin-right: 20px;
}

.lieu_container{
    display: flex;
    margin: 5px;
}
.lieu_container .dep{
    font-weight:lighter;
    margin-right: 10px;
}

.lieu_container .desc {
    font-weight:lighter;
    margin-left: 10px;
}

.dep i{
    color: #05842d;
}

.desc i{
    color: #fd0404;
}

.date_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date_container{
    color: rgb(79, 82, 82);
}
.date_container label{
    color: rgb(79, 82, 82);
    margin-right: 5px;
}

.date{
    margin-right: 5px;
}

.prix_container{
    margin: 10px;
    text-align: right;
}

.prix{
    font-size: 1.5rem;
    color:#05842d ;
    font-weight: bold;
}

.pers{
    color: rgb(79, 82, 82);
}

.prix_container button{
    background-color: var(--bg-color-menu);
    border: 1px solid rgb(160, 161, 161);
    border-radius: 10px;
    color: rgb(79, 82, 82);
    font-weight: bold;
    padding: 10px;
}

footer{
    margin-top: 20px;
    text-align: center;
    background-color:black;
    padding: 10px;
}

footer p{
    color: var(--bg-color-menu);
    font-weight: bold;
}

.search_container form{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    gap: 10px;
    border-radius: 10px;
    max-width: 900px;
    min-width: 280px;
    width:fit-content;
    margin: 10px auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.40);
    flex-wrap: wrap;
}


.date_container input{
    border-radius: 10px;
    border: 1px solid rgb(160, 161, 161);
    padding: 10px;
    margin: 2px;
}

.date_container input:hover{
    background-color: rgb(231, 235, 235);
    border-radius: 10px;
    border: 1px solid rgb(160, 161, 161);
    padding: 10px;
}
.date_container input:focus{
    background-color: rgb(236, 238, 238);
    border-color: var(--color-menu-focus);
    box-shadow: 0px 0px 6px var(--color-menu-focus);
    outline: none;
}

/*  */

.depart_container input{
    border-radius: 10px;
    border: 1px solid rgb(160, 161, 161);
    padding: 10px;
    margin: 2px;
}

.depart_container input:hover{
    background-color: rgb(231, 235, 235);
    border-radius: 10px;
    border: 1px solid rgb(160, 161, 161);
    padding: 10px;
}
.depart_container input:focus{
    background-color: rgb(236, 238, 238);
    border-color: var(--color-menu-focus);
    box-shadow: 0px 0px 6px var(--color-menu-focus);
    outline: none;
}

/*  */

.destiny_container input{
    border-radius: 10px;
    border: 1px solid rgb(160, 161, 161);
    padding: 10px;
    margin: 2px;
}

.destiny_container input:hover{
    background-color: rgb(231, 235, 235);
    border-radius: 10px;
    border: 1px solid rgb(160, 161, 161);
    padding: 10px;
}
.destiny_container input:focus{
    background-color: rgb(236, 238, 238);
    border-color: var(--color-menu-focus);
    box-shadow: 0px 0px 6px var(--color-menu-focus);
    outline: none;

}

/*  */

form button{
    background-color:var(--color-menu);
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    border: var(--color-menu) 2px solid;
    color: white;
}

form button:hover{
    background-color:var(--color-menu-focus);
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    color: var(--bg-color-menu);
    padding: 10px;
    border: var(--color-menu-focus) 2px solid;
}

form button:focus{
    background-color:#048fc1;
    font-weight: bold;
    border: none;
    border-radius: 0px 10px 10px 0px;
    color: white;
}

/* Contact */

.contact{
    text-align: left;
    margin-top: 10px;
}

.contact .whatsapp{
    margin-right: 20px;
    color: var(--color-menu);
}

.contact button{
    background-color: transparent;
    border: none;
}

.contact .whatsapp i{
    color: black;
    font-weight: bolder;
    font-size: 1.4rem;
}
.contact .whatsapp i:hover{
    color:var(--color-menu);
}

.contact .whatsapp i:focus{
    color:var(--color-menu-focus);
}

.contact .telephone{
    margin-right: 20px;
}

.contact .telephone i{
    color: black;
    font-weight: bolder;
    font-size: 1.4rem;
}
.contact .telephone i:hover{
    color:var(--color-menu);
}

.contact .telephone i:focus{
    color:var(--color-menu-focus);
}
.contact .mail{
    margin-right: 20px;
}


.contact .mail i{
    color: black;
    font-weight: bolder;
    font-size: 1.4rem;
}
.contact .mail i:hover{
    color:var(--color-menu);
}

.contact .mail i:focus{
    color:var(--color-menu-focus);
}



.contact .mes i{
    color: black;
    font-weight: bolder;
    font-size: 1.4rem;
}
.contact .mes i:hover{
    color:var(--color-menu);
}

.contact .mes i:focus{
    color:var(--color-menu-focus);
}

/* Message */

.sms{
    text-align: right;
    margin: 10px;
    align-items: center;
}

.sms button {
    background-color: var(--bg-color-menu);
    padding: 10px;
    border-radius: 10px;
    border: var(--color-menu) 1px solid;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.20);
    font-size: 1rem;
    font-weight: bold;
}

.sms .reserve a{
    color: #0284b3;
    text-decoration: none;
}

.other{
    display: flex;
}

/* pop up */
.popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.popup_reservation{
    background-color: var(--bg-color-menu);
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.40);
    border-radius: 20px;
    padding: 20px;
}
.popup_container h2{
    font-weight: bold;
    color: var(--color-menu);
    font-family: Arial, Helvetica, sans-serif;
}

.popup_container form{
    margin: 10px;
    padding: 5px;
}

form .nbr label{
    font-weight: bold;
}

form .nbr input{
    width: 80%;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    border: var(--color-menu) 1px solid;
    border-radius: 10px;
    font-weight: bold;
}


form .nbr input:focus{
    outline: none;
    border: var(--color-menu) 1px solid;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.20);

}

form textarea{
    width: 80%;
    margin: 5px;
    padding: 10px;
    border: var(--color-menu) 1px solid;
    border-radius: 10px;
}

form textarea:focus{
    outline: none;
}

.bnt button{
    background-color: var(--color-menu);
    border-radius: 10px;
}

.bnt button:hover{
    border-radius: 10px;
    background-color: var(--color-menu-focus);
}
.bnt button:focus{
    border-radius: 10px;
    background-color: var(--color-menu-focus);
}

.bnt .reset{
    background-color: red;
    border: none;
    border-radius: 10px;
}

.bnt .reset:hover{
    background-color: rgb(232, 35, 35);
}

.bnt .reset:focus{
    background-color: rgb(87, 6, 6);
}

.popup_reservation p i{
    color: var(--color-menu);
    padding: 5px;
    font-weight: bolder;
    border: 2px var(--color-menu) solid;
    border-radius: 50%;
}



.close_btn1{
    position: relative;
    left: 350px;
    bottom: 5px;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    padding: 3px;
}

.close_btn{
    position: relative;
    left: 165px;
    bottom: 20px;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    padding: 3px;
}


.popup_sms {
    background: #fff;
    width: 380px;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    position: relative;
    animation: popupShow 0.25s ease-out;
}

.name_container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.logo_container p {
    background: #00AEEF;
    color: #fff;
    width: 40px;
    height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
}

.popup_container1 hr {
    border: none;
    height: 1px;
    background: #ddd;
    margin: 0 15px;
}


.chat_box {
    height: 280px;
    overflow-y: auto;
    padding: 15px;
    background: #f7f7f7;
}

.chat_box::-webkit-scrollbar {
    width: 6px;
}
.chat_box::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 3px;
}


.input_box {
    padding: 12px;
    background: #fff;
    border-top: 1px solid #eee;
}

.input_box form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input_box input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 15px;
}

.input_box button {
    border: none;
    background: #00AEEF;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.input_box button img {
    width: 20px;
}

.input_box button:hover {
    background: #008cc7;
    border-radius: 50%;
}
.input_box{
    align-items: center;
}
/* Animation popup */
@keyframes popupShow {
    from{ transform: scale(0.7); opacity: 0; }
    to{ transform: scale(1); opacity: 1; }
}
/*  Responsive barred de recherche  */

/* Tabmette */
@media (max-width: 900px){
    .search_container form{
        width: 80%;
    }
}

/* Responsive téléphone */
@media (max-width: 600px){
    .search_container form{
        width: 95%;
        flex-direction: column;    /* Les champs passent en colonne */
        gap: 15px;
    }
}